
#inner-dropzone {
    height: 80px;
}

.dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    /*margin: 10px auto 30px;*/
    padding: 10px;
    width: 80%;
    transition: background-color 0.3s, border-color 0.3s;
   
 
}

.drop-active {
    border-color: #666;
}

.drop-target {
    border-color: #29e;
}


.drag-drop {
    display: inline-block;
    min-width: 40px;
    padding: 2em 0.5em;
    border-color: #99e;
    border: solid 2px white;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    transition: background-color 0.3s;
}

    .drag-drop.can-drop {
        background-color: #4e4;
    }

.turn {
    background-color:#FFD801;
    font:bold;
}


.notify {
    background-color: #e3f7fc;
    color: #555;
    border: .1em solid;
    border-color: #8ed9f6;
    border-radius: 10px;
    font-family: Tahoma,Geneva,Arial,sans-serif;
     font-size: 12px;
    font-weight: 100;
    color: black;
    /*padding:10px 10px 10px 10px;*/
    margin: 20px;
    cursor: default;
    margin-left:50px;
    width:auto;
    float: left;
    /*z-index:199;*/
    position: fixed;
    top: 0;
    z-index: 100;
}

#timer {
    border-radius: 10px;
    border-color: #8ed9f6;
    background-color: #e3f7fc;
    float: left;
    position: relative;
    z-index: 199;
}

#cards .draggable {
    display: block;
    height: 244px;
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    top: 0;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#cards .select {
    opacity: 0;
    margin-top: 50%;
    margin-left: 50%;
    background-color: red;
    border: thin;
    border-color: black;
    height: 14%;
    border-radius: 10px;
    width: 20%;
}


#cards {
    width: 100%;
    padding: 1px;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    /*border: 2px solid black;*/
}

.onTop {
    position: relative;
    z-index: 99;
}

.onTopBelow {
    position: relative;
    z-index: 89;
}

.icon-huge {
    zoom: 1;
    -moz-transform: scale(1);
    -moz-transform-origin: 0 0;
}

.icon-big {
    zoom: 0.60;
    -moz-transform: scale(0.60);
    -moz-transform-origin: 0 0;
}

.icon-small {
    zoom: 0.29;
    -moz-transform: scale(0.29);
    -moz-transform-origin: 0 0;
}


.notify-yellow {
    background: #fff8c4;
    border-color: #f7deae;
}

.notify-red {
    background: #ffecec;
    border-color: #fad9d7;
}

.notify-green {
    background: #e9ffd9;
    border-color: #D1FAB6;
}
.thrownCard {
    float: left;
    /*clear:both;*/
}

.animatedCard {
    position: relative;
    -webkit-animation: animatein 3s; /* Chrome, Safari, Opera */
    animation: animatein 3s;
}



.card {
    width: 60px;
    height: 79px;
    background: url('../img/WZ9Od.gif') no-repeat;
    background-size: 1300% 500%;
    /*display:inline-block;*/
}

.card-wide {
    width: 100px;
}

.card-high {
    height: 130px;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes animatein {
    0% {
        left: -200px;
        top: -300px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

@keyframes animatein {
    0% {
        left: 0px;
        top: -3000px;
    }

    100% {
        left: 0px;
        top: 0px;
    }
}

.animatedOutCard {
    position: relative;
    -webkit-animation: animateout 3s; /* Chrome, Safari, Opera */
    animation: animatein 3s;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes animateout {
    0% {
        left: 0px;
        top: 0px;
    }

    25% {
        left: 20px;
        top: 20px;
    }

    50% {
        left: 0px;
        top: 0px;
    }

    100% {
        left: -300px;
        top: -300px;
    }
}

@keyframes animateout {
    0% {
        left: 0px;
        top: 0px;
    } 

    25% {
        left: 20px;
        top: 20px;
    }

    50% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: -300px;
        top: -300px;
    }
}



/**
 * Backgrouns position of all the cards
 *
 * x offset in %: i * (100/x); i = 0, 1, ..., (x - 1); x = the number of cols in the sprite
 * y offset in %: j * (100/y); j = 0, 1, ..., (y - 1); y = the number of rows in the sprite
 */

.card-heart-2 {
    background-position: 0 0;
}

.card-heart-3 {
    background-position: 8.33% 0;
}

.card-heart-4 {
    background-position: 16.667% 0;
}

.card-heart-5 {
    background-position: 24.999% 0;
}

.card-heart-6 {
    background-position: 33.32% 0;
}

.card-heart-7 {
    background-position: 41.65% 0;
}

.card-heart-8 {
    background-position: 49.99% 0;
}

.card-heart-9 {
    background-position: 58.31% 0;
}

.card-heart-10 {
    background-position: 66.64% 0;
}

.card-heart-j {
    background-position: 74.97% 0;
}

.card-heart-q {
    background-position: 83.333% 0;
}

.card-heart-k {
    background-position: 91.667% 0;
}

.card-heart-a {
    background-position: 100% 0;
}

.card-chidi-2 {
    background-position: 0 50%;
}

.card-chidi-3 {
    background-position: 8.33% 50%;
}

.card-chidi-4 {
    background-position: 16.667% 50%;
}

.card-chidi-5 {
    background-position: 24.999% 50%;
}

.card-chidi-6 {
    background-position: 33.32% 50%;
}

.card-chidi-7 {
    background-position: 41.65% 50%;
}

.card-chidi-8 {
    background-position: 49.99% 50%;
}

.card-chidi-9 {
    background-position: 58.31% 50%;
}

.card-chidi-10 {
    background-position: 66.64% 50%;
}

.card-chidi-j {
    background-position: 74.97% 50%;
}


.card-chidi-q {
    background-position: 83.333% 50%;
}

.card-chidi-k {
    background-position: 91.667% 50%;
}

.card-chidi-a {
    background-position: 100% 50%;
}


.card-itt-2 {
    background-position: 0 25%;
}

.card-itt-3 {
    background-position: 8.33% 25%;
}

.card-itt-4 {
    background-position: 16.667% 25%;
}

.card-itt-5 {
    background-position: 24.999% 25%;
}

.card-itt-6 {
    background-position: 33.32% 25%;
}

.card-itt-7 {
    background-position: 41.65% 25%;
}

.card-itt-8 {
    background-position: 49.99% 25%;
}

.card-itt-9 {
    background-position: 58.31% 25%;
}

.card-itt-10 {
    background-position: 66.64% 25%;
}

.card-itt-j {
    background-position: 74.97% 25%;
}


.card-itt-q {
    background-position: 83.333% 25%;
}

.card-itt-k {
    background-position: 91.667% 25%;
}

.card-itt-a {
    background-position: 100% 25%;
}


.card-hukam-2 {
    background-position: 0 75%;
}

.card-hukam-3 {
    background-position: 8.33% 75%;
}

.card-hukam-4 {
    background-position: 16.667% 75%;
}

.card-hukam-5 {
    background-position: 24.999% 75%;
}

.card-hukam-6 {
    background-position: 33.32% 75%;
}

.card-hukam-7 {
    background-position: 41.65% 75%;
}

.card-hukam-8 {
    background-position: 49.99% 75%;
}

.card-hukam-9 {
    background-position: 58.31% 75%;
}

.card-hukam-10 {
    background-position: 66.64% 75%;
}

.card-hukam-j {
    background-position: 74.97% 75%;
}


.card-hukam-q {
    background-position: 83.333% 75%;
}

.card-hukam-k {
    background-position: 91.667% 75%;
}

.card-hukam-a {
    background-position: 100% 75%;
}



#outer-dropzone { 
     background: url('../img/table.jpg') no-repeat;
    /*background-size: 50%;
    height: 40%;
    width: 100%;*/
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: gray;
   text-align:center;
   background-image: url('../img/ajax-loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    opacity:.9;
}
#loading span {
    margin-top: 27%;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;      
  font:bold;
}


.FinishedUser { 
    background-color: rgba(255,255,255,0.8);
}
 
 
.overthrow-enabled .overthrow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}